{% extends 'ProjectAppBundle::metronic.html.twig' %}

{% block page_title %}
    <h3 class="page-title"> Client Registration
        <small></small>
    </h3>
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('app_dashboard') }}">Dashboard</a>
        <i class="fa fa-angle-right"></i>
        <a href="javascript:;">List of clients</a>
        <i class="fa fa-angle-right"></i>
    </li>
{% endblock %}

{% block body %}

{% endblock %}


