{% extends 'ProjectAppBundle::metronic.html.twig' %}

{% block page_title %}
    <h3 class="page-title"> Client Registration
        <small></small>
    </h3>
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('app_dashboard') }}">Dashboard</a>
        <i class="fa fa-angle-right"></i>
        <a href="javascript:;">Client</a>
        <i class="fa fa-angle-right"></i>
    </li>
{% endblock %}

{% block body -%}
    {% block content %}
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>New client </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                {{
                    include('ProjectAppBundle:Client:_formNewEdit.html.twig',{
                        'action': path('app_client_new'),
                        'method': 'post'
                    })
                }}
                <!-- END FORM-->
            </div>
        </div>

    {% endblock %}
{% endblock %}

{% block extrascripts %}
    <script src="{{ asset('scripts/controller/client/Client.js') }}"></script>
{% endblock extrascripts %}